# Inception Environment Configuration Example

# Domain and User Configuration
LOGIN=souichou
DOMAIN_NAME=souichou.42.fr
DATA_PATH=/home/souichou/data

# MariaDB Configuration
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wp_user

# WordPress Admin Configuration (ADMIN USERNAME MUST NOT CONTAIN 'admin' or 'administrator'!)
WP_TITLE=Inception_WordPress
WP_ADMIN_USER=site_supervisor
WP_ADMIN_EMAIL=supervisor@souichou.42.fr

# WordPress Regular User Configuration
WP_USER=regular_author
WP_USER_EMAIL=author@souichou.42.fr
